<h1>Welcome to Santa Fe Railway</h1>

<div class="container">
  <a href="/cities" class="btn btn-success">View All Cities</a>
  <a href="/trains" class="btn btn-primary">View All Trains</a>
  <a href="/stops" class="btn btn-danger">Add New Train Station</a>
</div>
